#navbarlist li{
    list-style-type: none;
}
#navbarlist li {
    display:inline;
}
#navbarlist {
    width: 1750px;
    margin: 20px;
<<<<<<< HEAD
    border: 20px solid #10243B;
  }

 #hero {
     background-image: url(images/graduation.jpg);
     background-repeat: none;
     background-size: cover;
     height: 100vh;
     width: 100vw;
 }
=======
    border: 20px solid rgb(21, 21, 82);
  }

  #maristimg {
      width:20px;
      height:15px;
  }
>>>>>>> 62740cb7a6158e2cccc8f690fdfe366c4230199d
