#navbarlist {
    list-style-type: none;
    
}


#navbarlist li{
    display: inline;
    margin: 18px;
    padding: 10px;          
}


nav {
    width: 100%;
    margin: 0px;
    background-color: #10243B;
    padding: 0px;  
    color: white;
    padding-bottom:  19px;
  }

 #hero {
     background-image: url(images/graduation.jpg);
     background-repeat: none;
     background-size: cover;
     height: 100vh;
     width: 100vw;
 }

 #explorecchs {
     width: 100vw;
     height: 319px;
 }
 #exploreheader {
     width: 100vw;
     height: 81px;
     background: #10243B;
     text-align: center;
     color: white;
 }
#exploresection{
    width: 100vw;
    height: 319px;
    background-color:slateblue;
}
.explorebox{
    height: 315px;
    width: 25%;
    background-color: peru;
    float: left;
}
#Hurricane {
    background-image: url(images/patriots\ plaza.jpg);
    background-position: cover;
    background-size: cover;
}
* {
    margin: 0px;
    padding: 0px;
}
#Guidance {
    background-image: url(images/college.png);
    background-position: center;
    background-size: cover;
}
#CCNN {
    background-image: url(images/ccnn.jpg);
    background-position: center;
    background-size: cover;
}

#Media {
    background-image: url(images/ccnn\ live.png);
    background-position: center;
    background-size: cover;
}
#footercontent {
    height:300px;
    background-color:#333;
    color:white;
    font-size:1.0em;
}

.right {
    float: right;
}

#missionstatement {
width:1000px;
height:250px;
}

#footer{
    height: 400px;  
    width: 100%;
    font-size: 30px;
}

#footernav {
background-color:#10243B;
}

#footernav ul{
    margin: 0px 250px;
    padding: 18px 0;
}

#footernav ul li{
    display: inline;
    margin: 0 20px;
    color: white;
    font-size: 1.2em;

}

#cchsmission{
    margin-top: 3.5%;
    margin-left: 3.5%;
    color: #aaa;
    width: 60%;
}

#footertext{
    color: #ddd;
    padding-top: 3.5%;
    padding-left: 3.5%;
}


/* ----------------------------------------------   CCHS Glance    --------------------------------------------- */

#glancesection{
    height: 500px;
    width: 100%;
    background-color: yellowgreen;
}

#glanceheader{
    height: 150px;
    width: 100%;
    background-color: peru;
}


#glancecontent{
    height: 350px;
    width: 100%;
    background-color: crimson;
    display: inline-block;
}

.glancebox{
    height: 320px;
    width: 23%;
    background-color: royalblue;
    margin: 5px;
}

.left{
    float: left;
}

#teaching{
    height: 50px;
    width: 50px;
}